@import "~styles/media.scss";

.users {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  transition: all 0.3s;

  &__user {
    transition: all 0.3s;
    padding: 6px;
  }
}

.current-room {
  min-height: 100%;
  width: 100%;
  padding: 12px;

  &__title {
    font-size: 1.3em;
  }
}