.header {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: var(--primary);
  color: var(--on-primary);
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
 
  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    margin-right: 8px;
    display: flex;
    align-items: center;
    & > *:not(:first-child) {
      margin-left: 8px;
    }
  }

  &__title {
    margin-left: 8px;
    font-size: 1.5em;
    cursor: default;
  }
}
