button.icon-btn {
    border-radius: 999px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    text-align: center;
    background-color: var(--component-color);
    color: var(--on-component-color);

    &--is-reverse {
        background-color: transparent;
        color: var(--component-color);
    }

    &--is-sm {
      width: 24px;
      height: 24px;
    }
}