button.icon-btn {
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: var(--component-color);
  color: var(--on-component-color);

  &--is-reverse {
    background-color: transparent;
    color: var(--component-color);
  }

  &--is-sm {
    width: 24px;
    height: 24px;
  }

  &--is-lg {
    width: 48px;
    height: 48px;
  }

  &--is-square {
    border-radius: 4px;
    width: initial;
  }

}