@import "~styles/media.scss";

.device-selectors {
  & > *:not(:first-child) {
    margin-top: 6px;
  }
}

.device-select {
  display: flex;

  &__label {
    width: 150px;
  }

  &__select {
    flex: 1;
  }
}

.my-video {
  position: fixed;
  bottom: 8px;
  border-radius: 8px;
  transition: transform 0.13s ease-in-out;

  transform: translateY(calc(100% - 42px));

  &--is-open {
    transform: translateY(0px);
  }

  @include sp {
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  @include pc {
    right: 10px;
    width: 400px;
  }
}

.box {
  position: relative;
  border-radius: inherit;
  padding: 4px;
  background-color: var(--secondary);
  color: var(--on-secondary);

  &__btns {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px;
    width: 100%;
  }
}

.video {
  width: 100%;
  padding-top: 75%;
  position: relative;
}
.video > .video__inner,
video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  object-fit: fill;
  display: block;
  height: 100%;
}
