.rooms {
  padding: 1em;
}

.room {
  display: flex;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
  position: relative;
  border-radius: 6px;
  color: var(--on-surface);

  &:not(:first-child) {
    margin-top: 4px;

    &:after {
      position: absolute;
      content: "";
      top: -2px;
      left: 50%;
      transform: translateX(-50%);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      width: 80%;
    }
  }
}
