.rooms {
  padding: 1em;
}

.room {
  display: flex;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover::after {
    background-color: currentColor;
    opacity: 0.1;
  }
}
