@import "~styles/media.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "メイリオ", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--on-background);

  font-size: 16px;

  // スマホはフォントサイズ16pxより大きくしないとテキスト選択時にズームされる
  @include sp {
    font-size: 20px;
  }
}

* {
  box-sizing: border-box;
}

:root {
  --error: #e6503d;
  --on-error: #ffffff;
  --mf: #999999;
  --header-height: 60px;
  --disable: lightgray;
}

.light {
  --background: #f8f6f1;
  --on-background: #252525;
  --primary: rgb(219, 219, 219);
  --on-primary: #252525;
  --secondary: #a0a0a0;
  --on-secondary: #4e4e4e;
  --surface: #ffffff;
  --on-surface: #333333;
  --component-color: var(--primary);
  --on-component-for-highlight: var(--on-primary);
  --on-component-color: var(--on-primary);
}

.dark {
  --background: #535353;
  --on-background: #ffffff;
  --primary: rgb(83, 83, 83);
  --on-primary: #ffffff;
  --secondary: #acacac;
  --on-secondary: #1a1a1a;
  --surface: #383838;
  --on-surface: #f1f1f1;
  --component-color: var(--primary);
  --on-component-for-highlight: var(--on-primary);
  --on-component-color: var(--on-primary);
}

.orange {
  --background: #ebebeb;
  --on-background: #252525;
  --primary: #ec821f;
  --on-primary: #ffffff;
  --secondary: #495883;
  --on-secondary: #ffffff;
  --surface: #f8f6f1;
  --on-surface: #333333;
  --component-color: var(--primary);
  --on-component-for-highlight: var(--primary);
  --on-component-color: var(--on-primary);
}

html,
body,
#root {
  height: 100%;
}

.component {
  background-color: var(--surface);
  color: var(--on-surface);
}

.main {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: var(--background);
}
.body {
  display: flex;
  height: 0;
  position: relative;
  &__content {
    margin: 0px auto;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 12px 12px 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/** TODO もうちょっと整理 */
@media only screen and (max-width: 1800px) and (min-width: 599px) {
  .body--has-left-nav {
    .body__content {
      margin-left: var(--nav-width);
      width: 100%;
    }
  }
  .body--has-right-nav {
    .body__content {
      margin-right: var(--nav-width);
      width: 100%;
    }
  }
}

.spacer {
  flex: 1;
}

.flex {
  display: flex;

  &.is-vertical {
    flex-direction: column;
  }
  &.is-align-center {
    align-items: center;
  }
  &.is-justify-center {
    justify-content: center;
  }
}

.flex-item--grow {
  flex: 1;
}

.action-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > *:not(:first-child) {
    margin-left: 6px;
  }
}

.mt-1 {
  margin-top: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.hide-on-sp {
  @include sp {
    display: none !important;
  }
}

.hide-on-pc {
  @include pc {
    display: none !important;
  }
}

.hl {
  position: relative;
}
.hl::before {
  position: absolute;
  content: "";
  pointer-events: none;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: inherit;
  opacity: 0;
  background-color: currentColor;
  transition: opacity 0.2s;
}
.hl:hover::before {
  opacity: 0.15;
}
.hl:active::before,
.hl:focus::before {
  opacity: 0.2;
}

.primary {
  --component-color: var(--primary);
  --on-component-color: var(--on-primary);
}
.secondary {
  --component-color: var(--secondary);
  --on-component-color: var(--on-secondary);
}
.white {
  --component-color: white;
  --on-component-color: transparent;
}

.form {
  padding: 24px;
}

.field {
  width: 100%;
  display: flex;
  align-items: baseline;

  &__label {
    color: var(--on-surface);

    &--is-disable {
      color: var(--disable);
    }

    min-width: 70px;
    text-align: right;
  }

  &__input {
    flex: 1;
    margin-left: 1em;
    max-width: 300px;
  }
}

button.btn,
input[type="button"].btn {
  background-color: var(--component-color);
  color: var(--on-component-color);
  padding: 8px;
  border-radius: 4px;
  min-width: 45px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

button.btn--is-flat,
input[type="button"].btn--is-flat {
  box-shadow: none;
  background-color: transparent;
  color: var(--on-component-for-highlight);
}

.link-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: blue;
  font-size: 1em;
}

.card {
  background-color: var(--surface);
  color: var(--on-surface);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.emptypage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO: あとでコンポーネント化 */
input[type="text"] {
  padding: 6px;
  outline: none;
  border: 2px solid var(--mf);
  border-radius: 4px;
  transition: border-color 0.3s;
}
input[type="text"]:focus {
  border-color: var(--on-component-for-highlight);
}

.form.checked input[type="text"]:invalid {
  border-color: var(--error);
}

input[type="range"] {
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 999px;
  border: none;
  height: 4px;
  background-color: white;
  // ↓設定して、background-sizeプロパティを動的にいじればスライダーの左側に色を塗れる
  // background-image: linear-gradient(#ff4500, #ff4500);
  // background-repeat: no-repeat;

  &::-webkit-slider-thumb {
    background: var(--component-color);
    appearance: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  }
}

button,
input[type="button"] {
  // border: 1px solid var(--component-color);
  outline: none;
  border: none;
  cursor: pointer;
}
button.is-error,
input[type="button"].is-error {
  border: 1px solid var(--error);
  background-color: var(--error);
  color: var(--on-error);
}

select {
  padding: 4px;
  background-color: transparent;
  border-radius: 999px;
  border: 1px solid var(--on-component-for-highlight);
  outline: none;
  color: var(--on-surface);
}

fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
}
